section.callback
    .callback-form.wow.fadeInRightBig(data-wow-delay="0.1s")
        form(action="#").form#callback 
            h2.form-title записаться на экзамен
            .field
                label(for="name").form-label Ваше имя
                input(type="text" name="name").form-input
            .field
                label(for="phone").form-label Номер телефона
                input(type="text" name="phone").form-input#js-phone-field
            .btn--cyan
                input(type="button", value="Записаться").btn
    .map
        .js-click-remove-div
        script(
            type="text/javascript" 
            charset="utf-8" 
            async 
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9a55ddf99555113bf42d7ee5848494ab6a6c0941de25b9268b312afdb1b92072&amp;width=100%25&amp;height=48em&amp;lang=ru_RU&amp;scroll=true")
