section.promo
    .container
        .promo-title
            h1 центр языкового тестирования
        .promo-description
            p.description Получите сертификат о владении русским языком для патента или разрешения на работу.
        .promo-btn.btn-box-animate
            .btn.btn--cyan
                a.btn-link(href="#") Записаться на экзамен