section.promo
    .container
        .promo-title.wow.fadeInLeftBig(data-wow-delay="0.2s")
            h1 центр языкового тестирования
        .promo-description.wow.fadeInLeftBig(data-wow-delay="0.3s")
            p.description Получите сертификат о владении русским языком как иностранным, историей России и основ законодательства РФ для подачи документов на оформление разрешения на работу, патента, РВП, ВНЖ.
        .promo-btn.btn-box-animate
            .btn--cyan.wow.fadeInLeftBig(data-wow-delay="0.4s")
                .btn
                    a.btn-link(href="#") Записаться на экзамен
            .lines-box.wow.fadeInLeftBig(data-wow-delay="0.4s")
                .line.line-1
                .circle
                .line.line-2