section.schedule
    h2.schedule-title график работы
    .schedule-time
        span.time 9:00
        span.icon 
        span.time 18:00
    ul.schedule-items
        li.schedule-item пн
        li.schedule-item вт
        li.schedule-item ср
        li.schedule-item чт
        li.schedule-item пт
        li.schedule-item сб
        li.schedule-item вс