section.schedule
    .container
        .head-schedule
            h2.schedule-title график работы
            .schedule-time
                span.time 9:00
                span.icon 
                span.time 18:00
        .body-schedule
            ul.schedule-items
                li.schedule-item.work пн
                li.schedule-item.work вт
                li.schedule-item.work ср
                li.schedule-item.work чт
                li.schedule-item.work пт
                li.schedule-item.not-working сб
                li.schedule-item.not-working вс