footer
    .footer
        img.logo(
            src="/img/logo.svg", 
            alt="AVEKO"
            )
        .address
            p м. Московская ул. 
            p Кубинская, д. 77, лит. А
        .schedule
            p График работы:
            p понедельник-пятница
            p с 9:00 до 18:00
        .phone
            a(href="tel:+78124546265") +7 812 454-62-65
            a(href="mailto:info@aveko.company") info@aveko.company 