section.certificate
    .cer-element
        span.line.line-1 
        span.circle
        span.line.line-2 
    .container
        .certificate-left-block
            .certificate-img
                a.certificate-img(
                                data-fancybox
                                data-caption="example-01"
                                href="/img/certificate.webp"
                            )
                    span.zoom-icon
                    img(src="/img/certificate.webp", alt="Образец сертификата")

        .certificate-right-block
            .certificate-title государственный сертификат
            .certificate-description
                p Выдаем сертификат гособразца о владении русским языком.
                p В сертификате указываются фамилия, имя, отчество тестируемого, дата рождения, паспортные данные в соответствии с официальным переводом  иностранного паспорта.
                p Внимательно проверяйте, верно ли указаны ваши данные при получении.
                p Срок действия сертификата — 5 лет с момента выдачи.