section.certificate
    .certificate-left-block
        .certificate-img
            img(src="/img/certificate.webp", alt="Образец сертификата")
            a(href="#").img-icon
    .certificate-right-block
        .certificate-title государственный сертификат
        .certificate-description
            p Выдаем сертификат гособразца о владении русским языком.
            p В сертификате указываются фамилия, имя, отчество тестируемого, дата рождения, паспортные данные в соответствии с официальным переводом  иностранного паспорта.
            p Внимательно проверяйте, верно ли указаны ваши данные при получении.
            p Срок действия сертификата — 5 лет с момента выдачи.