section.certificate
    .container
        .certificate-left-block.wow.fadeInLeftBig(data-wow-delay="0.1s")
            .certificate-img
                a.img-link(
                                data-fancybox
                                data-caption="example-01"
                                href="/img/certificate.webp"
                            )
                    span.zoom-icon
                    img(src="/img/certificate.webp", alt="Образец сертификата")
            .cer-element
                .line.line-1 
                .circle
                .line.line-2 

        .certificate-right-block.wow.fadeInRightBig(data-wow-delay="0.1s")
            .certificate-title государственный сертификат
            .certificate-description
                p Выдаем сертификат гособразца о владении русским языком.
                p В сертификате указываются фамилия, имя, отчество тестируемого, дата рождения, паспортные данные в соответствии с официальным переводом  иностранного паспорта.
                p Внимательно проверяйте, верно ли указаны ваши данные при получении.
                p Срок действия сертификата — для патента - 3 года (РВП - 3 года; ВНЖ - бессрочно.)​