canvas#stars
section.how-can
    .container
        h2.how-can-title как получить сертификат
        ul.how-can-list
            li.how-can-item.profit-item--first
                .how-can-icon
                    .icon-number 1
                .how-can-item-title Запишитесь на экзамен в удобный для вас день и время.
            li.how-can-item.profit-item--second
                .how-can-icon
                    .icon-number 2
                .how-can-item-title Предоставьте оригинал паспорта и официальный перевод паспорта.
            li.how-can-item.profit-item--third
                .how-can-icon
                    .icon-number 3
                .how-can-item-title Заключите договор об оказании услуг и оплатите экзамен в кассе центра тестирования.
            li.how-can-item.profit-item--fourth
                .how-can-icon
                    .icon-number 4
                .how-can-item-title Сдайте тест и получите сертификат!