section.how-can
    h2.how-can-title как получить сертификат
    ul.how-can-list
        li.how-can-item.profit-item--first
            span.how-can-icon 1
            span.how-can-item-title Запишитесь на экзамен в удобный для вас день и время.
        li.how-can-item.profit-item--second
            span.how-can-icon 2
            span.how-can-item-title Предоставьте оригинал паспорта и официальный перевод паспорта.
        li.how-can-item.profit-item--third
            span.how-can-icon 3
            span.how-can-item-title Заключите договор об оказании услуг и оплатите экзамен в кассе центра тестирования.
        li.how-can-item.profit-item--fourth
            span.how-can-icon 4
            span.how-can-item-title Сдайте тест и получите сертификат!