section.advantage
    .container
        ul.profit-list
            li.profit-item.wow.fadeInUpBig(data-wow-delay="0.2s")
                .profit-icon.profit-item--certificate
                .profit-item-title Сертификат необходим для подачи документов на оформление разрешения на работу, патента, разрешения на временное проживание, вида на жительство.
            li.profit-item.wow.fadeInUpBig(data-wow-delay="0.3s")
                .profit-icon.profit-item--exam
                .profit-item-title Экзамен проводят специалисты РГПУ им. А. И. Герцена
            li.profit-item.wow.fadeInUpBig(data-wow-delay="0.4s")
                .profit-icon.profit-item--test
                .profit-item-title Тест проходит в уютном классе, оборудованном современной техникой
            li.profit-item.wow.fadeInUpBig(data-wow-delay="0.5s")
                .profit-icon.profit-item--issue
                .profit-item-title Выдаем сертификат государственного образца в течение 5 рабочих дней