section.advantage
    ul.profit-list
        li.profit-item.profit-item--certificate
            span.profit-icon
            span.profit-item-title Сертификат позволяет получить патент или разрешение на работу
        li.profit-item.profit-item--exam
            span.profit-icon
            span.profit-item-title Экзамен проводят педагоги русского языка РГПУ им. А. И. Герцена
        li.profit-item.profit-item--test
            span.profit-icon
            span.profit-item-title Тест проходит в уютном классе, оборудованном современной техникой
        li.profit-item.profit-item--issue
            span.profit-icon
            span.profit-item-title Выдаем сертификат государственного образца в течение 5 рабочих дней