section.advantage
    .container
        ul.profit-list
            li.profit-item
                span.profit-icon.profit-item--certificate
                span.profit-item-title Сертификат позволяет получить патент или разрешение на работу
            li.profit-item
                span.profit-icon.profit-item--exam
                span.profit-item-title Экзамен проводят педагоги русского языка РГПУ им. А. И. Герцена
            li.profit-item
                span.profit-icon.profit-item--test
                span.profit-item-title Тест проходит в уютном классе, оборудованном современной техникой
            li.profit-item
                span.profit-icon.profit-item--issue
                span.profit-item-title Выдаем сертификат государственного образца в течение 5 рабочих дней