header 
    .header 
        img.logo.wow.fadeInLeftBig(
            src="img/logo.svg", 
            alt="AVEKO"
            data-wow-delay="0.1s"
            )
        nav.wow.fadeInRightBig(
            data-wow-delay="0.1s"
        )
            ul.nav-items
                li.nav-item
                    a.nav-link.flowing-scroll(href="#certificate") Сертификат
                li.nav-item
                    a.nav-link.flowing-scroll(href="#exam") Экзамен
                li.nav-item
                    a.nav-link.flowing-scroll(href="#contacts") Контакты
            .header-button
                .btn
                    span.btn-icon
                    a(href="tel:+7812454-62-65") +7 812 454-62-65
