header 
    .header 
        img.logo(
            src="/img/logo.svg", 
            alt="AVEKO"
            )
        nav
            ul.nav-items
                li.nav-item
                    a.nav-link(href="#") Сертификат
                li.nav-item
                    a.nav-link(href="#") Экзамен
                li.nav-item
                    a.nav-link(href="#") Контакты
            .header-button
                .btn
                    a(href="tel:+7812454-62-65") +7 812 454-62-65
