section.advantage {
    position: relative;
    margin: 0;
    padding: 0 0 3em 0;
    box-sizing: border-box;
    line-height: 1;
    &* {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1;
    }
    @media (max-width: 961px) {
        padding: 0;
    }
    .container {
        width: 100%;
        height: 28.6em;
        max-width: 65vw;
        margin: 0 auto;
        @media (max-width: 1200px) {
            max-width: 85vw;
            height: 100%;
            padding: auto 0;
        }
        ul.profit-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            @media (max-width: 961px) {
                align-items: flex-start;
                position: relative;
            }
            @media (max-width:500px) {
                flex-direction: column;
                padding: 0 0 1em 0;
            }
            li.profit-item {
                position: relative;
                width: 16.6em;
                box-sizing: border-box;
                margin: 0;
                padding: 6em 0 0 0;
                text-align: center;
                @media (max-width: 961px) {
                    display: flex;
                    flex-direction: row;
                    text-align: left;
                    width: 50%;
                    padding: 2em 2em 0 0;
                    align-content: stretch;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-between;
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
                &:hover .profit-icon {
                    transform: scale(1.1);
                }
                .profit-icon {
                    display: block;
                    width: 8.9em;
                    height: 8.9em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 0 auto;
                    transition: 0.3s ease-in-out;
                    @media (max-width: 961px) {
                        flex: 1 15em;
                        width: auto;
                        max-height: 6.8em;
                    }
                }
                .profit-item--certificate {
                    background-image: url("../img/advantage/certificate.svg");
                }
                .profit-item--exam {
                    background-image: url("../img/advantage/exam.svg");
                }
                .profit-item--test {
                    background-image: url("../img/advantage/test.svg");
                }
                .profit-item--issue {
                    background-image: url("../img/advantage/issue.svg");
                }
                .profit-item-title {
                    position: relative;
                    min-height: 7em;
                    font-weight: 700;
                    font-size: 1.248em;
                    line-height: 1.196;
                    padding: 0;
                    top: 2.2em;
                    @media (max-width: 961px) {
                        flex: 2 40em;
                        top: 1em;
                        left: 1em;
                    }
                }
            }
        }
    }
}