section.certificate {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    background: url("../img/certificate-bg.webp") no-repeat center center;
    background-size: cover;
    min-height: 44.4em;
    @media (max-width: 1024px) {
        min-height: 50em;
    }
    @media (max-width: 700px) {
        min-height: 53em;
    }
    @media (max-width: 500px) {
        min-height: 62em;
    }
    .cer-element {
        position: relative;
        .line {
            display: block;
            background-color: $lightBlue;
            position: absolute;
            height: 2px;
        }
        .circle {
            background-color: $lightBlue;
            position: absolute;
            width: 0.7em;
            height: 0.7em;
            border-radius: 50%;
            left: -6.7em;
            top: -8em;
            transition: 0.3s linear;
        }
        .line-1 {
            width: 6.3em;
            left: -6.2em;
            top: -7.7em;
            transition: 0.3s linear;
        }
        .line-2 {
            width: 25.3em;
            left: -31.6em;
            top: -7.7em;
            transform-origin: center right;
            transform: rotate(-30deg);
            transition: 0.3s linear;
        }
    }
    .container {
        max-width: 59vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: 1024px) {
            max-width: 82vw;
            flex-direction: column-reverse;
        }
        .certificate-left-block {
            position: relative;
            flex: 1;
            .certificate-img {
                &:hover+.cer-element .circle {
                    left: -5.7em;
                    top: -4.9em;
                }
                &:hover+.cer-element .line-1 {
                    width: 6.3em;
                    left: -6.2em;
                    top: -7.7em;
                    transform-origin: center right;
                    transform: rotate(-30deg);
                }
                &:hover+.cer-element .line-2 {
                    width: 21.3em;
                    left: -26.8em;
                    top: -4.7em;
                    transform-origin: center right;
                    transform: rotate(16deg);
                }
                a.img-link {
                    // padding: 6.7em 0 0 0;
                    top: 7.1em;
                    position: relative;
                    @media (max-width: 1024px) {
                        top: 0;
                    }
                    span.zoom-icon {
                        position: absolute;
                        background: url("../img/zoom-icon.svg") no-repeat center center;
                        background-size: contain;
                        width: 4em;
                        height: 4em;
                        top: -20em;
                        right: 2em;
                        z-index: 2;
                    }
                    img {
                        @media (max-width: 1024px) {
                            width: 20em;
                        }
                        @media (max-width: 700px) {
                            width: 50vw;
                        }
                        @media (max-width: 1437px) {
                            width: 30em;
                        }
                    }
                }
            }
        }
        .certificate-right-block {
            flex: 1;
            position: relative;
            margin: 0;
            padding: 0;
            line-height: 1;
            & * {
                position: relative;
                margin: 0;
                padding: 0;
                line-height: 1;
            }
            .certificate-title {
                font-size: 2.5em;
                color: $lightBlue;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.15;
                padding: 2.6em 0 0 0.8em;
                @media (max-width: 700px) {
                    padding: 2.6em 0 0 0;
                }
                @media (max-width: 500px) {
                    padding: 2.6em 0 0 0;
                }
            }
            .certificate-description {
                padding: 2.8em 6.7em 0 1.9em;
                @media (max-width: 700px) {
                    padding: 2.6em 0 0 0;
                }
                @media (max-width: 500px) {
                    padding: 2.6em 0 0 0;
                }
                p {
                    font-weight: 700;
                    font-size: 1.25em;
                    line-height: 1.135;
                    padding: 0 0 1.2em 0;
                }
            }
        }
    }
}