section.exam {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 60em;
    background: url("../img/exam-bg.webp") center top no-repeat;
    background-size: contain;
    &* {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .exam-left-row {
        position: relative;
        width: 50%;
        z-index: 10;
        left: 29.3em;
        top: 9em;
        h2.exam-title {
            text-transform: uppercase;
            font-size: 2.47em;
            letter-spacing: -0.001em;
            color: $white;
        }
        .exam-description {
            width: 14.4em;
            font-size: 1.3em;
            line-height: 1.2;
            letter-spacing: -0.02em;
            color: $white;
            padding: 1.5em 0 0 0;
        }
        ul.program-list {
            width: 20em;
            color: white;
            padding: 4.7em 0 0 0.26em;
            list-style: none;
            li.program-item {
                &:not(:last-child) {
                    border-left: 2px solid $lightBlue;
                }
                padding: 0 0 2.3em 1.4em;
                .program-item-title {
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background: $lightBlue;
                        left: -0.22em;
                    }
                    span.title-mark {
                        font-size: 1.3em;
                        font-weight: 700;
                        color: $lightBlue;
                    }
                    span {
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
                .program-item-description {
                    padding: 0.4em 0 0 0;
                    p {
                        font-size: 1.25em;
                        line-height: 1.52;
                    }
                }
            }
        }
    }
    .exam-right-row {
        position: relative;
        display: block;
        width: 50%;
        z-index: 10;
        .gallery {
            .example-img {
                img {
                    position: absolute;
                    bottom: 0;
                }
                a.img-icon {}
            }
        }
    }
    // .bg-exam {
    //     display: block;
    //     position: absolute;
    //     background: url("../img/exam-bg.webp") center center no-repeat;
    //     background-size: contain;
    //     width: 100%;
    //     height: 56em;
    //     top: 0;
    //     z-index: 2;
    // }
    // .bg-slice {
    //     display: block;
    //     position: absolute;
    //     background-size: contain;
    //     z-index: 1;
    // }
    // .slice-left {
    //     background: url("../img/exam-left-slice.webp") center center no-repeat;
    //     width: 13.9em;
    //     height: 23.7em;
    //     top: -2.4em;
    //     left: 0;
    // }
    // .slice-right {
    //     background: url("../img/exam-right-slice.webp") center center no-repeat;
    //     width: 13.9em;
    //     height: 23.7em;
    //     bottom: -1.8em;
    //     right: 0;
    // }
}