section.exam {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 60em;
    background: url("../img/exam-bg.webp") center top no-repeat;
    background-size: contain;
    & * {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .exam-left-row {
        position: relative;
        flex: 0.56;
        padding: 9em 0 0 29.2em;
        h2.exam-title {
            text-transform: uppercase;
            font-size: 2.47em;
            letter-spacing: -0.001em;
            color: $white;
        }
        .exam-description {
            width: 14.4em;
            font-size: 1.3em;
            line-height: 1.2;
            letter-spacing: -0.02em;
            color: $white;
            padding: 1.5em 0 0 0;
        }
        ul.program-list {
            width: 20em;
            color: white;
            padding: 4.7em 0 0 0.46em;
            list-style: none;
            li.program-item {
                &:not(:last-child) {
                    border-left: 2px solid $lightBlue;
                }
                padding: 0 0 2.3em 1.4em;
                .program-item-title {
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background: $lightBlue;
                        left: -2.05em;
                    }
                    span.title-mark {
                        font-size: 1.3em;
                        font-weight: 700;
                        color: $lightBlue;
                    }
                    span {
                        font-size: 1.3em;
                        font-weight: 700;
                    }
                }
                .program-item-description {
                    padding: 0.4em 0 0 0;
                    p {
                        font-size: 1.25em;
                        line-height: 1.52;
                    }
                }
            }
        }
    }
    .exam-right-row {
        flex: 1;
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1;
        outline: none;
        border: none;
        & * {
            position: relative;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            line-height: 1;
            outline: none;
            border: none;
        }
        .gallery {
            padding: 9em 0 0 2em;
            .swiper-box {
                width: 28em;
                .swiper.mySwiper {
                    width: 28em;
                    height: 40.7em;
                    .swiper-wrapper {
                        a.swiper-slide {
                            position: relative;
                            span.zoom-icon {
                                position: absolute;
                                background: url("../img/zoom-icon.svg") no-repeat center center;
                                background-size: contain;
                                width: 4em;
                                height: 4em;
                                top: 2em;
                                right: 2em;
                                z-index: 3;
                            }
                            img {
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}