@font-face {
    font-family: "Avanti";
    src: url("../fonts/avanti.woff") format("woff"), url("../fonts/avanti.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Avanti";
    src: url("../fonts/avanti-bold.woff") format("woff"), url("../fonts/avanti-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');