header {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &* {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1;
    }
    .header {
        position: absolute;
        width: 100%;
        max-width: 61vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        // padding: 3.5em 0em 0 0;
        align-items: center;
        left: 19vw;
        top: 2.8vw;
        z-index: 999;
        img.logo {
            max-width: 5.8em;
            width: 100%;
        }
        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            ul.nav-items {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                list-style: none;
                padding: 0 2.9em 0 0;
            }
            li.nav-item {
                &:not(:last-child) {
                    padding: 0 2.1em 0 0;
                }
                a.nav-link {
                    font-family: "Roboto";
                    font-size: 1em;
                    letter-spacing: -0.0129em;
                    color: $darkBlue;
                }
            }
        }
        .header-button {
            position: relative;
            outline-offset: 2px;
            border-radius: 50px;
            outline: 1px solid $lightBlue;
            .btn {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 10em;
                height: 1.7em;
                background-color: $lightBlue;
                border-radius: 50px;
                transition: 0.3s linear;
                &:hover {
                    transform: scale(0.97, 0.9);
                }
                span.btn-icon {
                    display: block;
                    background: url("../img/phone-icon.svg") no-repeat center center;
                    background-size: contain;
                    width: 23px;
                    height: 22px;
                }
                a {
                    color: $white;
                    &::before {
                        content: "";
                        width: 20px;
                        text-align: right;
                    }
                }
            }
        }
    }
}