header {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &* {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1;
    }
    .header {
        position: absolute;
        width: 100%;
        max-width: 61vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        // padding: 3.5em 0em 0 0;
        align-items: center;
        left: 19vw;
        top: 2.8vw;
        z-index: 999;
        @media (max-width: 1200px) {
            position: relative;
            top: 0;
            left: 2em;
            max-width: 90vw;
            margin: 0 auto;
            padding: 1em 0;
        }
        @media (max-width: 500px) {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 200;
            height: 5.6em;
            background: #fff;
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 2em;
            margin: 0;
        }
        .menu-burger {
            display: none;
            &::after,
             ::before {
                content: "";
            }
            &::after,
            span {
                height: 3px;
                width: 100%;
                position: absolute;
                background: $lightBlue;
                margin: 0 auto;
            }
            &::after {
                top: 1em;
                transition: 0.3s ease-in-out;
            }
            &::before {
                content: "";
                top: 2em;
                height: 3px;
                width: 100%;
                position: absolute;
                background: $lightBlue;
                margin: 0 auto;
                transition: 0.3s ease-in-out;
            }
            @media (max-width: 500px) {
                position: relative;
                display: block;
                width: 3em;
                height: 2.5em;
            }
            span {
                top: 0em;
                transition: 0.01s ease-in-out;
            }
        }
        .open-menu {
            &::before {
                transform: rotate(38deg);
                top: 1em;
            }
            &::after {
                transform: rotate(-38deg);
                top: 1em;
            }
            span {
                opacity: 0;
            }
        }
        img.logo {
            max-width: 7.1em;
            width: 100%;
            @media (max-width: 500px) {
                display: none;
            }
        }
        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            @media (max-width: 500px) {
                display: none;
            }
            ul.nav-items {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                list-style: none;
                padding: 0 4.2em 0 0;
            }
            @media (max-width: 500px) {}
            li.nav-item {
                &:not(:last-child) {
                    padding: 0 3.4em 0 0;
                }
                a.nav-link {
                    font-family: "Roboto";
                    font-size: 1em;
                    letter-spacing: -0.0129em;
                    color: $darkBlue;
                    transition: 0.3s linear;
                    &:hover {
                        color: $lightBlue;
                        text-shadow: 0px 0px 3px $lightBlue;
                    }
                }
            }
            .header-button {
                position: relative;
                outline-offset: 2px;
                border-radius: 50px;
                outline: 1px solid $lightBlue;
                .btn {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 11.5em;
                    height: 2.1em;
                    background-color: $lightBlue;
                    border-radius: 50px;
                    transition: 0.3s linear;
                    @media (max-width: 500px) {
                        background-color: $lightBlue;
                        width: 2.5em;
                        height: 2.5em;
                    }
                    &:hover {
                        transform: scale(0.97, 0.9);
                    }
                    span.btn-icon {
                        display: block;
                        background: url("../img/phone-icon.svg") no-repeat center center;
                        background-size: contain;
                        width: 23px;
                        height: 22px;
                    }
                    a {
                        color: $white;
                        &::before {
                            content: "";
                            width: 20px;
                            text-align: right;
                        }
                        @media (max-width:500px) {
                            display: none;
                        }
                    }
                }
            }
        }
        .mob-menu {
            display: none;
            left: -100%;
            transition: 0.3s ease-in-out;
            .menu-header {
                background: $grey;
                width: 100%;
                padding: 4em 0;
                img.mob-logo {
                    left: 37vw;
                }
            }
            .menu-body {
                padding: 4em 2em;
                ul.nav-items {
                    li.nav-item {
                        &:not(:last-child) {
                            padding: 0 0 1em 0;
                        }
                        a.nav-link {
                            color: $darkBlue;
                            font-size: 1.2em;
                        }
                    }
                }
            }
            .menu-footer {
                span.line {
                    display: inline-block;
                    position: absolute;
                    height: 2px;
                    background: $lightBlue;
                }
                .line-1 {
                    width: 50vw;
                    left: 0;
                    top: 0.5em;
                }
                .line-2 {
                    width: 60vw;
                    left: 51vw;
                    top: 0.5em;
                    transform: rotate(-35deg);
                    transform-origin: center left;
                }
                span.circle {
                    display: inline-block;
                    position: absolute;
                    left: 50vw;
                    width: 16px;
                    height: 16px;
                    background: $lightBlue;
                    border-radius: 50%;
                }
                ul.contact-items {
                    padding: 4em 2em;
                    li.contact-item {
                        &:not(:last-child) {
                            padding: 0 0 1em 0;
                        }
                        color: $darkBlue;
                        font-weight: 700;
                    }
                    .address {
                        p.address-item {}
                    }
                    .schedule {
                        p.schedule-item {}
                    }
                    .phone {
                        p.phone-item {
                            a.item-link {
                                color: $darkBlue;
                            }
                        }
                    }
                }
            }
        }
        .open {
            left: 0;
            transition: 0.3s ease-in-out;
            & * {
                margin: 0;
                padding: 0;
                line-height: 1;
                font-size: 16px;
                box-sizing: border-box;
                position: relative;
            }
            @media (max-width: 500px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                top: 5.5em;
                left: 0;
                width: 100vw;
                height: auto;
                background: $white;
                overflow: hidden;
            }
        }
        .mob-btn {
            display: none;
            @media (max-width: 500px) {
                display: block;
            }
            a.btn-link {
                img {}
            }
        }
    }
}

.fixed-page {
    overflow: hidden;
    /*запрещаем прокручивание страницы при открытом меню*/
}