canvas#stars {
    width: 100%;
    height: 600px;
    background: #E8E8E8;
}

section.how-can {
    .container {
        h2.how-can-title {}
        ul.how-can-list {
            li.how-can-item.profit-item--first {
                .how-can-icon {
                    .icon-number {}
                }
                .how-can-item-title {}
            }
        }
    }
}