section.promo {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    &* {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        line-height: 1;
    }
    background: url("../img/promo-bg.webp") top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 54.6em;
    @media (max-width: 961px) {
        background-size: cover;
        height: 40em;
    }
    .container {
        width: 100%;
        max-width: 61vw;
        margin: 0 auto;
        @media (max-width: 1200px) {
            max-width: 85vw;
        }
        .promo-title {
            padding: 12.3em 0 0 0;
            width: 58%;
            h1 {
                color: $lightBlue;
                text-transform: uppercase;
                font-size: 4.13em;
                letter-spacing: 0.027em;
                line-height: 1.17;
                margin: 0;
                padding: 0;
                @media (max-width: 700px) {
                    font-size: 2.8em;
                }
                @media (max-width: 500px) {
                    font-size: 2.5em;
                }
            }
            @media (max-width: 1200px) {
                padding: 5em 0 0 0;
                width: 70%;
            }
        }
        .promo-description {
            padding: 2.4em 0 4em 0;
            width: 50%;
            p.description {
                font-size: 1.88em;
                line-height: 1.12;
                letter-spacing: -0.018em;
                color: $darkBlue;
                @media (max-width: 1400px) {
                    font-size: 1.7em;
                }
                @media (max-width: 961px) {
                    font-size: 1.6em;
                }
                @media (max-width: 500px) {
                    font-size: 1.2em;
                    padding: 0 0 2em 0;
                }
            }
        }
        .promo-btn.btn-box-animate {
            position: relative;
            display: inline;
            .btn--cyan {
                position: relative;
                display: inline-block;
                outline-offset: 5px;
                outline: 1px solid $lightBlue;
                border-radius: 50px;
                &:hover+.lines-box .line.line-1 {
                    transform: translate(-105%, 105%) rotate(40deg);
                    top: -106px;
                    left: -75px;
                }
                &:hover+.lines-box .circle {
                    left: -130px;
                    top: -110px;
                }
                &:hover+.lines-box .line.line-2 {
                    transform: rotate(24deg);
                }
                .btn {
                    margin: 0;
                    padding: 0;
                    background: $lightBlue;
                    border-radius: 50px;
                    padding: 0.8em 2.1em;
                    transition: 0.3s linear;
                    &:hover {
                        transform: scale(0.97, 0.9);
                    }
                    a.btn-link {
                        color: $white;
                        margin: 0;
                        letter-spacing: 0.001em;
                        font-size: 1.26em;
                    }
                }
            }
            .lines-box {
                @media (max-width: 1200px) {
                    display: none;
                }
                position: absolute;
                .line {
                    position: absolute;
                    width: 8.6em;
                    height: 2px;
                    background-color: $lightBlue;
                    transition: 0.3s linear;
                }
                .line-1 {
                    width: 66.6em;
                    top: -9.3em;
                    left: -6em;
                    transform-origin: center right;
                    transform: translateX(-100%);
                }
                .circle {
                    position: absolute;
                    width: 1.3em;
                    height: 1.3em;
                    left: -6.6em;
                    top: -10em;
                    background-color: $lightBlue;
                    border-radius: 50px;
                    transition: 0.3s linear;
                }
                .line-2 {
                    top: -3.06em;
                    left: -8.2em;
                    transform-origin: center right;
                    transform: rotate(45deg);
                }
            }
        }
    }
}